.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(19, 30, 94, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.analysis-modal .top-bar .header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 20px;
}

.analysis-modal .top-bar {
    position: relative;
}

.analysis-modal {
    border-radius: 10px;
    border: 2px solid #0B3142;
    background-color: #FCFDFF;
    margin: 10% auto 0px auto;
    min-height: 300px;
    max-width: 563px;
}

.analysis-content {
    margin: 0px 5%;
}

.analysis-content p {
    text-align: center;
}

.analysis-modal .close-x {
    height: 30px;
    width: 30px;
    padding: 0px;
    position: absolute;
    right: 10px;
    background-color: #b65d52;
    color: black;
    font-weight: bolder;
}

.analysis-modal .close-x:hover {
    background-image: none;
    background-color: #c78279;
}

.left {
    display: inline-block;
    width: 50%
}

.right {
    display: inline-block;
    width: 50%
}

.left p {
    text-align: right;
}

.right p {
    text-align: left;
}