.EditProperty {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    text-align: center;
}

label {
    font-weight: 500;
}

.form-error {
    color: red;
    font-size: 12px;
}

form button {
    height: 40px;
    max-width: 100px;
    margin: 20px auto;
}

.form-input {
    text-align: center;
    max-width: 247.5px;
    margin: 10px 0px;
}

@media screen and (min-width: 320px) {
    .form-input {
        max-width: 100%;
    }
}