.Footer ul {
    list-style: none;
    background-color: #0A0A0A;
    text-align: center;
    padding: 0;
    margin: 0;
}

.Footer li {
    height: 50px;
    margin: 20px;
    display: inline-block;
    margin-right: -4px;
}

.Footer a {
    color: white;
}

.Footer a:hover {
    color: #1277E1;
}

/* .Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
} */