.LandingPage .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 5%;
}

.LandingPage,
.LandingPage p {
    text-align: center;
}

.header {
    margin: 0px;
    padding: 20px 0px;
    color: white;
    background-color: #1277E1;
}

.main-img {
    height: auto;
    width: 100%;
    max-width: 563px;
    border-radius: 10px;
    border: 8px solid #0B3142;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;

}

.content button {
    color: #FCFDFF;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #0B3142;
    background-color: #1277E1;
}

.LandingPage button:hover {
    background-image: linear-gradient(to top, #1277E1, #0B3142)
}

button a {
    color: #FCFDFF;
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .LandingPage .content {
        padding: 20px 10%;
    }
}