 .PropertyView {
     text-align: center;
 }

 p {
     text-align: left;
     padding: 0px 2%;
 }

 .address2 {
     text-align: center;
 }

 button {
     margin: 15px;
     padding: 10px;
     color: #FCFDFF;
     font-size: 16px;
     border-radius: 10px;
     border: 2px solid #0B3142;
     background-color: #1277E1;
 }

 button:hover {
     background-image: linear-gradient(to top, #1277E1, #0B3142)
 }

 button a {
     color: #FCFDFF;
     font-size: 16px;
     text-align: center;
 }

 .analyze {
     margin: 40px;
 }

 .analyze-disabled {
     cursor: not-allowed;
     background-color: gray;
     color: black;
     margin: 40px;
 }


 .analyze-disabled:hover {
     cursor: not-allowed;
     background-image: none;
     background-color: gray;
     color: black;
 }