.property-img {
    border-radius: 5px;
    border: 2px solid #0B3142;
    max-width: 300px;
    min-width: 240px;
    width: 80%;
    height: auto;
    margin: 5px;
}

.property button {

    border-radius: 10px;
    border: 2px solid #0B3142;
    background-color: #1277E1;
}

.property button:hover {
    background-image: linear-gradient(to top, #1277E1, #0B3142)
}

button a {
    color: #FCFDFF;
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .property-img {
        border-radius: 5px;
        border: 2px solid #0B3142;
        max-width: 400px;
        height: auto;
        margin: 10px;
    }

}

@media screen and (min-width: 600px) {
    .property-img {
        border-radius: 5px;
        border: 2px solid #0B3142;
        max-width: 600px;
        height: auto;
        margin: 20px;
    }

}