 .PropertyView {
     text-align: center;
 }

 p {
     text-align: left;
     padding: 0px 3%;
 }

 .notes {
     margin-left: auto;
     margin-right: auto;
     max-width: 600px;
 }

 .property-info p {
     padding-left: 20%;
 }

 .address-one {
     margin: 10px;
 }

 .PropertyView .header {
     padding: 1px;
 }

 .address-two {
     text-align: center;
     margin: 0px 20px 20px 20px;
 }

 button {
     margin: 15px;
     padding: 10px;
     color: #FCFDFF;
     font-size: 16px;
     border-radius: 10px;
     border: 2px solid #0B3142;
     background-color: #0c4b8f;
 }

 button:hover {
     background-image: linear-gradient(to top, #0c4b8f, #0B3142)
 }

 button a {
     color: #FCFDFF;
     font-size: 16px;
     text-align: center;
 }

 .delete-btn {
     background-color: #a54a3e;
 }

 .delete-btn:hover {
     background-image: none;
     background-color: #c78279;
 }

 .analyze {
     margin: 40px;
 }

 .analyze-disabled {
     cursor: not-allowed;
     background-color: gray;
     color: black;
     margin: 40px;
 }


 .analyze-disabled:hover {
     cursor: not-allowed;
     background-image: none;
     background-color: gray;
     color: black;
 }

 @media screen and (min-width: 320px) {
     .property-info p {
         padding-left: 25%;
     }
 }

 @media screen and (min-width: 600px) {
     .property-info p {
         padding-left: 30%;
     }

     .property-info {
         display: flex;
         flex-direction: row;
     }

     .property-info .property-img {
         margin: 40px 0px 0px 0px;
     }

     .property-info p {
         padding-left: 1%;
     }

     .third {
         width: 33.33%
     }

     .two-thirds {
         width: 66.66%
     }

 }

 @media screen and (min-width: 900px) {
     .property-info .property-img {
         margin: 0px 0px 0px 0px;
     }

 }