.property-img {
    border-radius: 5px;
    border: 2px solid #0B3142;
    max-width: 300px;
    min-width: 240px;
    width: 80%;
    height: auto;
    margin: 5px;
}

.property button {

    border-radius: 10px;
    border: 2px solid #0B3142;
    background-color: #0c4b8f;
}

.property button:hover {
    background-image: linear-gradient(to top, #0c4b8f, #0B3142)
}

button a {
    color: #FCFDFF;
    font-size: 16px;
    text-align: center;
}

.short-desc {
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.view-property {
    margin: 20px auto 75px auto;
    display: block;

}

@media screen and (min-width: 320px) {
    .property-img {
        border-radius: 5px;
        border: 2px solid #0B3142;
        max-width: 400px;
        height: auto;
        margin: 10px;
    }

}

@media screen and (min-width: 600px) {
    .property-img {
        border-radius: 5px;
        border: 2px solid #0B3142;
        max-width: 600px;
        height: auto;
        margin: 20px;
    }

}