.RegisterPage {
    text-align: center;
    flex: 1 0 auto;
}

.RegisterPage form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.RegisterPage a {
    color: #0c4b8f;
    text-decoration-line: underline;
}

label {
    margin: 20px;
}

select {
    margin: 10px;
}

.register {
    margin: 20px;
    height: 40px;
    max-width: 100px;
    margin: 20px auto;
}