.RegisterModal {
    border-radius: 10px;
    border: 2px solid #0B3142;
    background-color: #FCFDFF;
    margin: 10% auto 0 auto;
    min-height: 300px;
    text-align: center;
    max-width: 563px;
}

.RegisterModal .form-input {
    text-align: right;
    max-width: 100%;
    padding-right: 20%;
}

.RegisterModal h2 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.RegisterModal form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.RegisterModal a {
    color: #0c4b8f;
    text-decoration-line: underline;
}

.RegisterModal .top-bar {
    position: relative;
}

.RegisterModal .close-x {
    height: 30px;
    width: 30px;
    padding: 0px;
    position: absolute;
    right: 10px;
    background-color: #b65d52;
    color: black;
    font-weight: bolder;
}

.RegisterModal .close-x:hover {
    background-image: none;
    background-color: #c78279;
}

label {
    margin: 20px;
}

select {
    margin: 10px;
}

.register {
    margin: 20px;
    height: 40px;
    max-width: 100px;
    margin: 20px auto;
}